body {
    font-family: 'Baloo Chettan', sans-serif;
    text-align: center
}

h3 {
    margin-top: 15px;
}

p {
    margin-bottom: 0;
}

.plus-minus {
    padding: 0 10px;
    border: 0;
}

button {
    font-size: 16px;
    font-weight: 400;
}

footer {
     margin-top: 15px;
}

a {
    color: #d80000;
}

a:hover {
    color: #888;
}